@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #14101b;
  --text: #ffffff;
  --text-secondary: rgba(255, 255, 255, 0.7);
  --border: rgba(255, 255, 255, 0.1);
}

body {
  background-color: var(--background);
  color: var(--text);
}

.recharts-tooltip-wrapper {
  background-color: rgba(20, 16, 27, 0.9) !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  color: white !important;
}